:root {
  --primary-font-family: 'Roboto', sans-serif;
  --secondary-font-family: 'Raleway', sans-serif;
  --primary-text-color-theme-dark: #212121;
  --secondary-text-color-theme-dark: #ffffff;
  --primary-text-color-theme-light: #757575;
  --secondary-text-color-theme-light: #303030;
  --list-link-color: rgba(255, 255, 255, 0.6);
  --accent-color: #2196f3;
  --portfolio-background: #f5f4fa;
  --footer-background: #2f303a;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

body {
  font-family: var(--primary-font-family);
}
.studio-header {
  color: var(--primary-text-color-theme-dark);
}
.studio-footer {
  color: var(--secondary-text-color-theme-dark);
}

.logo {
  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--accent-color);
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--primary-text-color-theme-dark);
}

/* ============= HEADER ============= */
.menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color-theme-dark);
}
.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}
.contact-phone-number {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color-theme-light);
}
.contact-phone-number:hover,
.contact-phone-number:focus {
  color: var(--accent-color);
}
.contact-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color-theme-light);
}
.contact-mail:hover,
.contact-mail:focus {
  color: var(--accent-color);
}
/* ============= /HEADER ============= */

/* ============= HERO ============= */
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  /* color: var(--secondary-text-color-theme-dark); */
}
.hero-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  cursor: pointer;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--secondary-text-color-theme-dark);
}
.hero-btn:hover,
.hero-btn:focus {
  color: var(--secondary-text-color-theme-dark);
}
/* ============= /HERO ============= */

/* ========== our-qualities ========== */
.description {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color-theme-dark);
}
.section {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color-theme-light);
}
/* ========== /our-qualities ========== */

/* =========== What we doing ============ */

/* =========== /What we doing ============ */

/* =========== Our Team ============ */
.name-team {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color-theme-dark);
}
.position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color-theme-light);
}
/* =========== /Our Team ============ */

/* ============= FOOTER ============= */

.footer {
  background: var(--footer-background);
}
.contact-list-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  color: var(--list-link-color);
}
.contact-list-link:hover,
.contact-list-link:focus {
  color: var(--accent-color);
}

/* ============= /FOOTER ============= */

/* =================== PORFOLIO =================== */

.portfolio-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  cursor: pointer;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--primary-text-color-theme-dark);
  background: var(--portfolio-background);
  border-radius: 4px;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  background: var(--accent-color);
  color: var(--secondary-text-color-theme-dark);
}

/* ======== Our Projects Portfolio =========> */
.project-tipe {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--primary-text-color-theme-dark);
}
.project-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;

  color: var(--primary-text-color-theme-light);
}
